
.rapport {
    margin-left: 50px;
    margin-right: 50px;
}

#close {
    font-size: 30px;
}

h1.rapport {
    font-size: 25px;              
    font-weight: bold;           
    text-align: center;          
    margin-top: 1em;             
    margin-bottom: 1em;          
    color: #ffffff;                 
    line-height: 1.5;            
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h2.rapport {
    border: 1px solid rgb(49, 49, 49);
    background-color: rgb(49, 49, 49);
    padding: 10px;
    font-size: 30px;   
    font-weight: bold;           
    text-align: left;            
    margin-top: 1em;                     
    color: #ffffff;                 
    line-height: 1.5;            
    font-family: 'Roboto Slab', serif;
}

p.rapport {
	color: #ffffff;
    text-align: justify;
    font-size: 18px;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif

}

button {

        height: 4em;
        width: auto;
        padding: 1.5em auto;
        margin: 1em auto;
        background-color: #f1f2ec;
        border: none;
        border-radius: 3px;
        color: #7aa4a9;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        transition: all 0.2s cubic-bezier(.4, 0, .2, 1);
    
}

ul.listoutils {
    margin: 0;
    list-style-type: none;
    text-align: center;
    padding-left: 0px
}

span.clickable {
    cursor: pointer;
}

span.boxed {
    background-color:#ffe;
    box-shadow:0 0 1em 1px rgba(0,0,0,.25);
    color:#006;
    margin:0.5em;
    padding:0.5em;
}

li.rapport {
	position: relative;
	padding: 0px;
	padding-left: 20px;
	height: 30px;
}

h2.popup {
    font-size: 30px;   
    font-weight: bold;           
    text-align: center;            
    margin-top: 1em;                     
    color: #001d4d;                 
    line-height: 1.5;            
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

li.popup {
    color: #000000;
    font-size: 18px;
    height: 30px;
    list-style-type : square;
    text-align: justify;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p.popup {
    color: #000000;
    text-align: justify;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}